# Ignore dataset and large data folders
data/
dataset/
dataset.csv
saved model/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env
venv/
.env/
virtualenv/

# Ignore VSCode settings
.vscode/

# Ignore temporary files
*.log
*.tmp
*.bak

# Ignore OS-specific files
.DS_Store
Thumbs.db